<div class="box">
  <img src="../../assets/images/glogo.png" />
  <div class="cintro">
    <div class="mat-display-1">One ZeRo</div>
    <p>
      The undercurrents of the future. A <br />Geekybite publication about tech
      and science.
    </p>
    <button mat-button color="primary">Follow</button>
  </div>
</div>
<div class="article-center">
  <h1>Lorem ipsum dolor sit amet qt rq obortis vita<br />ritoq quata</h1>
  <h2>Writer company name or designation</h2>
  <h3>Posted on 02.02.2020</h3>
  <img
    class="image"
    src="../../assets/images/c1.jfif"
    style="width: 80%; height: 40%"
  />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum vel officiis
    atque nulla, voluptate error repellendus quibusdam. <br />Sed, ad repellat
    tempora illo mollitia qui assumenda distinctio. Voluptate impedit, nihil
    error quisquam provident vitae cupiditate ipsum!<br />
    Officiis ea ullam minus a.dolor sit amet consectetur, adipisicing elit.
    Earum vel officiis atque nulla, voluptate error repellendus quibusdam.
    <br />Sed, ad repellat tempora illo mollitia qui assumenda distinctio.
    Voluptate impedit, nihil error quisquam provident vitae cupiditate ipsum!<br />
    Officiis ea ullam minus a.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum vel officiis
    atque nulla, voluptate error repellendus quibusdam. <br />Sed, ad repellat
    tempora illo mollitia qui assumenda distinctio. Voluptate impedit, nihil
    error quisquam provident vitae cupiditate ipsum!<br />
    Officiis ea ullam minus a.dolor sit amet consectetur, adipisicing elit.
    Earum vel officiis atque nulla, voluptate error repellendus quibusdam.
    <br />Sed, ad repellat tempora illo mollitia qui assumenda distinctio.
    Voluptate impedit, nihil error quisquam provident vitae cupiditate ipsum!<br />
    Officiis ea ullam minus a.
  </p>
</div>
<div class="aboutonezero">
  <h1>About OneZero</h1>
  <p>
    OneZero is a new geekybite publication. This forward-looking, original
    tech<br />
    and science brand by Medium will cover our accelerating march into the<br />
    future, tell you what’s next, and provide you with a roadmap of what’s
    <br />around the corner. You’ll find context here you won’t see anywhere
    else<br />
    about the powerful forces shaping our world. As a journalistic publication
    <br />owned by Medium, OneZero maintains editorial independence over the<br />
    stories it publishes on the Medium platform
  </p>
  <h3>206k followers</h3>
</div>
<div class="onezeroeditor">
  <h1>EDITORS</h1>
  <img
    src="../../assets/images/writer.jpg"
    style="height: 7%; width: 7%; border-radius: 50%"
  />
  <h2>Jhonson</h2>
  <h3>Editor in Chief, OneZero at Geekybite</h3>
  <button mat-raised-button color="primary">Follow</button>
</div>
<div class="onezeroeditor">
  <h1>Authors</h1>
  <img
    src="../../assets/images/writer.jpg"
    style="height: 7%; width: 7%; border-radius: 50%"
  />
  <h2>Jhonson</h2>

  <button mat-raised-button color="primary">Follow</button>
</div>
