<p>navbottom works!</p>
<footer >
    <div class="footer-main-div">
      <div class="footer-content">
        <div class="footer-section-logo">
          <img
            src="../../assets/images/glogo.png"
            style="height: 60%; width: 60%"
          />
        </div>
  
        <div class="footer-section-contact"></div>
      </div>
  
      <div class="footer-bottom-menue">
        <ul>
          <li>
            <a href="#"><i>Subscribe</i></a>
          </li>
          <li>
            <a href="#"><i>Write</i></a>
          </li>
          <li>
            <a href="#"><i>Sign in</i></a>
          </li>
          <li>
            <a href="#"><i>join</i></a>
          </li>
        </ul>
        <p>Already have an account?<a>Sign in</a></p>
      </div>
    </div>
  </footer>
  