/*navbar-beforelogin
span {
  font-family: "Oswald", sans-serif;
  font-size: 37px;
  color: black;
}
.toolbar {
  top: 0px;
  background-color: white;
  padding: 30px;
  justify-content: space-between;
}
.navbar {
  flex: 1 1 auto;
}
a {
  padding-right: 5rem;
  font-family: "Oswald", sans-serif;
  color: black;
  text-decoration-line: none;
}
.nav-button {
  background-color: orangered;
  padding: -1px 8px;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-right: 2px;
}
.nav-button:hover {
  background-color: white;
  color: orangered;
}
/*navbar*/
/*responsivenavbarstart*/
@media only screen and (max-width: 980px) {
    span {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      color: teal;
    }
    .toolbar {
      background-color: white;
      padding: 10px;
      justify-content: space-between;
      position: sticky;
    }
    .navbar {
      flex: 1 1 auto;
    }
    a {
      padding-right: 2rem;
      font-family: "Oswald", sans-serif;
      color: black;
      text-decoration-line: none;
    }
    .nav-button {
      background-color: white;
      padding: 7px 4px;
      color: white;
      font-size: 20px;
    }
    .nav-button:hover {
      background-color: white;
      color: rgba(0, 128, 128, 0.8);
    }
  }
  /*responsive navbar end*/
  /*navbar-homepage*/
  span {
    font-family: "Oswald", sans-serif;
    font-size: 37px;
    color: black;
  }
  
  .navbar {
    flex: 1 1 auto;
  }
  a {
    padding-right: 5rem;
    font-family: "Oswald", sans-serif;
    color: black;
    text-decoration-line: none;
  }
  .nav-button {
    background-color: orangered;
    padding: -1px 8px;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .nav-button:hover {
    background-color: white;
    color: orangered;
  }
  /*1strow*/
  .toolbar_home {
    top: 0px;
    background-color: white;
    padding: 30px;
    justify-content: space-between;
  }
  
  /*2ndrow*/
  .row {
    top: 0px;
    background-color: rgba(0, 0, 0, 0.815);
    padding: 30px;
    justify-content: space-between;
  }
  .row a {
    margin-left: 5px;
    padding: 2rem;
    color: white;
  }
  /*navbar-homepage-end*/
  