<div class="signup">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <mat-card-title>Join Geekybites</mat-card-title> -->
      <h1>Join Geekybites</h1>
    </mat-card-header>

    <mat-card-content>
      <p>
        Create an account to receieve great stories in your inbox,<br />
        personalize your homepage,and follow authors and<br />
        topics that you love.
      </p>
    </mat-card-content>
    <div #signUpRef>
    <button mat-button class="mat-form-field" appearance="outline">
      <mat-label>Sign up with Google</mat-label>
      
    </button></div>
    <mat-form-field appearance="outline">
      <mat-label>Sign up with Facebook</mat-label>
      <input matInput placeholder="placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sign up with Gmail</mat-label>
      <input matInput placeholder="placeholder" />
    </mat-form-field>
    <p>Already have an account?<a>Sign in</a></p>
  </mat-card>
</div>
